.App {
    text-align: center;
}

.nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #000000;
    color: white;
    padding: 1rem;
}

.nav > span {
    flex: 20%;
    text-align: left;
}

.nav--filter {
    flex: 50%;
}

.main {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
